.row {
    margin-bottom: 20px;
  }
  
article, aside {
    padding: 1%;
  }
  
.slider-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
